<!doctype html>
<html ng-app="ajsEmulator">
<head>
    <script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" data-semver="1.0.8"></script>
    <script src="js/emulatorMain.js"></script>
    <title>AngularJS Emulator</title>
</head>
<body>

<center>
<div ng-controller="urlCtrl">
        <h1>AngularJS Emulator</h1>
        <label>URL:</label>
        <input type="text" size="70" ng-model="gameUrl" placeholder="Game Url"><br>
        <label>No of Players</label>
        <input type="text" size="5" ng-model="noOfPlayers"><br/>
        <input type="button" ng-click="setUrl(gameUrl,noOfPlayers)" value="Fetch"><br/>
         <textarea  rows="20" cols="80" id="console" readonly></textarea><br/>
</div>


<div  ng-controller="listenerCtrl">
<div align="left" id="frames"></div>
</div>
</center>

</body>
</html>