<!doctype html>
<html ng-app="ajsEmulator">
<head>
    <link rel="stylesheet" href="css/popup.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js" data-semver="1.0.8"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/emulatorMain.js"></script>

    <link rel="stylesheet" type="text/css" href="css/emulatorStyles.css">
    <title>AngularJS Emulator</title>
</head>
<body>
    <h1 align="center">AngularJS Emulator</h1>
    <table>
        <tr>
            <td id="listener" style="width: 60%" hidden>
            <div ng-controller="listenerCtrl">
                <h2 align="center">Emulator Controls</h2>
                <div align="center">
                    <b>State Slider: </b>{{min}}<input type="range" id="slider" ng-model="currentStateIndex" ng-change="change()" min="0" max="1" list="tickmarks">{{max}}&nbsp;&NonBreakingSpace;
                    <input type="button" value="Edit State" popup edit>
                    <input type="button" value="Save State" popup save>
                    <input type="button" value="Load State" popup load>
                    <datalist id=tickmarks>
                        <option>0</option>
                        <option></option>
                        <option>40</option>
                        <option>60</option>
                        <option></option>
                        <option>{{max}}</option>
                    </datalist>
                    <br/>

                    <div align="right" id="timerLabel" hidden>Timer:
                    <span id="timer"></span></div>
                </div>
                <h3 align="center">Turn of Player {{currentPlayer}}</h3>
                <ul>
                    <li ng-repeat="tab in tabs"
                        ng-class="{active:isActiveTab(tab.title)}"
                        ng-click="onClickTab(tab)">{{tab.title}}
                    </li>
                </ul>
                <div align="center" id="frames"></div>
            </div>
            </td>
            <td style="width: 50%">
            <div ng-controller="urlCtrl">
                <label id="label1">URL:</label>
                <input id="urlText" type="text" size="70" ng-model="gameUrl" placeholder="Game Url"><br>
                <label id="label2">No of Players</label>
                <input id="playerText" type="text" size="5" ng-model="noOfplayers"><br/>
                <label id="label3">Height</label>
                <input id="heightText" type="text" size="5" ng-model="height"><br/>
                <label id="label4">Width</label>
                <input id="widthText" type="text" size="5" ng-model="width"><br/>
                <label id="label5">TimePerTurn(min)</label>
                <input id="timePerTurn" type="text" size="2" ng-model="timePerTurn"><br/>
                <label id="label6">Simulate with viewer</label>
                <input id ="viewer" type="checkbox" ng-model="viewerFlag"><br/>
                <label id="label7">Single window mode</label>
                <input id ="singleWindow" type="checkbox" ng-model="singleWindowMode"><br/>
                <input id="fetch" type="button" ng-click="setUrl(gameUrl)" value="Fetch"><br/>
                <textarea hidden rows="40" cols="64" id="console" readonly></textarea><br/>
            </div>
            </td>
        </tr>
    </table>
</body>
</html>